* {
    margin: 100;
   padding:100;
}
body{font-family: 'Times New Roman', Times, serif;}
header {background-color: rgba(248, 254, 255, 0.664);
color: black;
display: flex;
justify-content: space-around;
padding: 24px 0;}

.cabecalho-imagem{width: 22%;}

li 
{
    display: inline-block;
    margin: 0 32px;
    padding: 90px 0;
font-size: 30px;
height: 1px;}

h1
{
    
margin:0 70px;
padding:0 40px;
font-size: 30px;}
.escola-imagem{
    width: 70%;
}
.escola{
    background-image: linear-gradient(rgb(187, 20, 8),rgb(192, 20, 20));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0;
}