* {
    margin: 100;
   padding:100;
}
header {background-color: rgba(9, 73, 212, 0.664);
color: black;
display: flex;
justify-content: space-around;
padding: 24px 0;}

.cabecalho-imagem{width: 22%;}

li 
{
    display: inline-block;
    margin: 0 32px;
    padding: 90px 0;
font-size: 30px;
height: 1px;}

h1
{
    
margin:0 70px;
padding:0 40px;
font-size: 30px;}
.escola-imagem{
    width: 15%;
}
.escola{
    background-image: linear-gradient(rgb(61, 129, 255),rgb(8, 189, 62));
}